

.Rp-directions-list-item-header-cont {
display:flex;
flex-direction: row;
align-items: flex-start;
margin-bottom: 0px;
padding-bottom: 0px;
}

.Rp-directions-list-header-step-number {
display: flex;
align-items: center;
justify-content: center;
font-family: Brandon Grotesque;
font-style: normal;
font-weight: 620;
font-size: 18px;
}

.Rp-directions-list-header-step-text {
padding-left: 10px;
font-family: Brandon Grotesque;
font-style: normal;
font-weight: 420;
font-size: 18px;
}

.Rp-directions-list-item-header-cont p {
 margin:0px;
}

.Rp-directions-ingredients-list-cont {
padding-left: 18px;
}